<configuration>
	<dllmap os="windows" dll="libvorbisfile" target="libvorbisfile.dll"/>
	<dllmap os="osx" dll="libvorbisfile" target="libvorbisfile.3.dylib"/>
	<dllmap os="linux" dll="libvorbisfile" target="libvorbisfile.so.3"/>
	<dllmap os="windows" dll="FNA3D" target="FNA3D.dll"/>
	<dllmap os="osx" dll="FNA3D" target="libFNA3D.0.dylib"/>
	<dllmap os="linux" dll="FNA3D" target="libFNA3D.so.0"/>
</configuration>
